<div class="mb-5">
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-3">
      <!--begin::Total Profit-->
      <div class="card mat-elevation-z3">
        <div class="card-details">
          <h4 class="card-title m-0">
            Estimated Earnings
          </h4>
          <span class="text-primary card-stats">
            $200
          </span>
        </div>
        <mat-progress-bar mode="determinate" value="78" class="bg-primary"></mat-progress-bar>
        <div class="kt-widget24__action">
          <span class="kt-widget24__change">
          </span>
          <span class="kt-widget24__number">
            78%
          </span>
        </div>
      </div>
      <!--end::Total Profit-->
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <!--begin::New Feedbacks-->
      <div class="card mat-elevation-z3">
        <div class="card-details">
          <h4 class="card-title m-0">
            Questions Responded
          </h4>
          <span class="text-warning card-stats">
            15
          </span>
        </div>
        <mat-progress-bar mode="determinate" value="20" class="bg-warning"></mat-progress-bar>
        <div class="kt-widget24__action">
          <span class="kt-widget24__change">
          </span>
          <span class="kt-widget24__number">
            20%
          </span>
        </div>
      </div>
      <!--end::New Feedbacks-->
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <!--begin::New Orders-->
      <div class="card mat-elevation-z3">
        <div class="card-details">
          <h4 class="card-title m-0">
            Average Rating
          </h4>
          <span class="text-danger card-stats">
            5.00
          </span>
        </div>
        <mat-progress-bar mode="determinate" value="69" class="bg-danger"></mat-progress-bar>
        <div class="kt-widget24__action">
          <span class="kt-widget24__change">
          </span>
          <span class="kt-widget24__number">
            69%
          </span>
        </div>
      </div>
      <!--end::New Orders-->
    </div>
    <div class="col-md-12 col-lg-6 col-xl-3">
      <!--begin::New Users-->
      <div class="card mat-elevation-z3">
        <div class="card-details">
          <h4 class="card-title m-0">
            Average Response Time
          </h4>
          <span class="text-success card-stats">
            172
          </span>
        </div>
        <mat-progress-bar mode="determinate" value="90" class="bg-success"></mat-progress-bar>
        <div class="kt-widget24__action">
          <span class="kt-widget24__change">
          </span>
          <span class="kt-widget24__number">
            90%
          </span>
        </div>
      </div>
      <!--end::New Users-->
    </div>
  </div>
</div>

<div class="table-container mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <div class="">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

