<<<<<<< HEAD
.app-header {
    background: #fff;
    margin-bottom: 4%;
    box-shadow: 0 0 10px 3px rgba(41, 50, 66, .075);
}
.header-logo{width: 210px;padding: 18px 0;}
.header-logo img{width: 100%;}



=======
.app-header {
    background: #fff;
    margin-bottom: 4%;
    box-shadow: 0 0 10px 3px rgba(41, 50, 66, .075);
}
.header-logo{width: 210px;padding: 18px 0;}
.header-logo img{width: 100%;}



>>>>>>> d9d6ae9d7158a701861c288c688887384543c9f5
